body{
  padding: 10px;
}
#chartdiv {
    margin: auto;
    height: 50vh;
    max-width: 100%;
  }
  canvas{
    border-radius: 25px;
  }
  .results-container{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    height: fit-content;
    border: thin solid gray;
    border-radius: 5px;
    background-color: #EEEEEE;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 3px;
    color: #333
  }

  h2 {
    width: 90%;
    font-size: 2rem;
    margin: 12px auto;
    padding-bottom: 12px;
    border-bottom: thin solid gray;
  }
  .cases-container, .deaths-container{
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
  }
  h3{
    font-size: 1.5rem;
  }
  p.total-cases, 
  p.new-cases, 
  p.active-cases, 
  p.recovered-cases, 
  p.critical-cases,
  p.total-deaths,
  p.new-deaths{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  .total-case-number, 
  .new-case-number, 
  .active-case-number, 
  .recovered-case-number, 
  .critical-case-number,
  .total-deaths-number,
  .new-deaths-number{
    width: 45%;
    text-align: center;
    color: #333;
    text-align: left;
    font-weight: bold;
  }

  .new-case-number, .new-deaths-number{
    color: green;
  }

  .deaths-header{
    width: 90%;
    margin: 24px auto;
    padding-top: 24px;
    text-align: left;
    border-top: thin solid gray;
  }
